<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div class="container">

    <header>
        <!-- Header -->
        <div style="height: 30px;font-size: 12px;line-height: 30px;padding-left: 28px;">
            欢迎来到 凡老师技术知识分享平台！
        </div>
    </header>
    <div style="margin: 28px 0px;"></div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">首页</a>
        </li>
        {% for menu in menus %}
            <li class="nav-item">
                <a class="nav-link {% if tid == menu.id %} active {% endif %}"
                   href="/list?tid={{ menu.id }}">{{ menu.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <p style="text-align: center;font-size: 28px;">{{ blog.title }}</p>
    <p style="font-size: 14px;text-align: center;">作者:{{ blog.author }}&nbsp;&nbsp;{{ blog.created }}</p>
    <p>
        {% autoescape off %}
            {{ blog.content }}
        {% endautoescape %}
    </p>

</div>
<div style="clear: both;"></div>
<div style="text-align: center; background-color: #686868;color: #F7F7F7;font-size: 12px;padding: 12px 0px;">
    <div>友情链接:</div>
    <div>凡老师技术博客</div>
</div>
</body>
</html>
